body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
}

.app-wrapper {
    background-color: #f4f4f4;
}

.r-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.iconfont {
    font-family: iconfont;
}

.home-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main-list {
    margin-top: 54px;
    margin-bottom: 90px;
    height: 1500px;
}

.cell-button {
    padding-bottom: 18px;
}

.slogan {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fff;
}

.i-slg {
    height: 66px;
    font-size: 26px;
    padding-top: 16px;
    flex: 1;
    text-align: center;
    color: #777777;
}

.indicator {
    position: absolute;
    left: 310px;
    color: #888888;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gift {
  position: absolute;
  align-content: flex-end;
  margin-bottom: 200px;
  height: 80px;
  width: 200px;
  right: 50px;
  border-radius: 130px;
  text-align: center;
  background-color: #444444;
  flex-direction: row;
}

.i-gift {
  position: absolute;
  align-items:flex-end;
  height: 95px;
  width: 95px;
  top: 1320px;
  right: 30px;
}

.d-sign {
  position: absolute;
  top: 240px;
  height: 60px;
  width: 120px;
  right: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  justify-content: center;
  background-color: #fff;
  flex-direction: row;
}

.i-sign-image {
  width: 30px;
  height: 30px;
  align-self: center;
  margin-right: 10px;
}

.i-sign-txt {
  font-size: 22px;
  align-items: center;
  align-self: center;
  color: #777777;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e0000000;
}
.mask-image {
  height: 700px;
  width: 560px;
  align-items: center;
  border-radius: 30px;
}
