.iconfont {
    font-family: iconfont;
}

.wrapper {
    background-color: #f4f4f4;
}

.main-list {
  flex: 1;
}

.cell-button {
    margin-bottom: 18px;
}

.header {
    height: 280px;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 280px;
    background-color: #C6B27E;
}
.partner {
  width: 750px;
  padding: 15px;
  justify-content:center
}
.partner-image {
  width: 680px;
  height: 120px;
  border-radius: 8px;
  justify-content:center
}
.i-photo {
    position: absolute;
    top: 90px;
    left: 30px;
    height: 130px;
    width: 130px;
    border-radius: 130px;
}

.i-name {
    position: absolute;
    top: 110px;
    left: 190px;
    height: 50px;
    width: 300px;
    font-size: 38px;
    color: #fff;
}

.m-sign {
    position: absolute;
    top: 170px;
    left: 190px;
    height: 40px;
    width: 140px;
    background-color: #B7A176;
    border-radius: 4px;
    align-self: center;
    align-items: center;
}

.i-gift {
    width: 55px;
    height: 55px;
    align-items: center;
    align-self: center;
    padding-left: 70px;
    margin-right: 6px;
}

.tag-e {
    width: 32px;
    height: 32px;
}

.tag-v8 {
    color: #fff;
    background-color: #b29e75;
    text-align: center;
}

.txt-tag {
    color: #ffffff;
    height: 40px;
    font-size: 22px;
    padding: 5px;
    text-overflow: ellipsis;
    text-align:center;
}

.b-qrcode {
    position: absolute;
    top: 50px;
    right: 40px;
    height: 50px;
    width: 50px;
}

.d-vip {
  position: absolute;
  top: 120px;
  height: 80px;
  width: 200px;
  right: 0px;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  text-align: center;
  background-color: #444444;
  flex-direction: row;
}

.d-vip-txt {
  font-size: 28px;
  align-items: center;
  align-self: center;
  color: #fff;
}

.s-box {
    padding-left: 26px;
    background-color: #fff;
}

.box-tlt {
    height: 94px;
}

.box-txt {
    font-size: 28px;
    padding-top: 34px;
    color: #777777;
}

.i-box-in {
    position: absolute;
    top: 34px;
    right: 30px;
    color: #777777;
}

.box-line {
    height: 132px;
    display: flex;
    padding-right: 30px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.i-box-l {
    width: 130px;
    height: 132px;
}

.i-box-icon {
    font-size: 50px;
    text-align: center;
    padding-top: 15px;
    height: 79px;
    padding-bottom: 10px;
    color: #777777;
}

.i-box-tlt {
    font-size: 24px;
    text-align: center;
    color: #777777;
}

.line-serve {
    padding-top: 20px;
    height: 150px;
}

.border-bottom {
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, .15);
}

.i-c-orange {
    color: #ff744d;
}

.i-c-yellow {
    color: #f6a121;
}

.i-c-blue {
    color: #689de5;
}

.recommend {
  margin-top: 20px;
}

.status-bar {
    width: 750px;
    height: 40px;
    background-color:#C6B27E;
}
